@charset "utf-8";
/* 
---------------------------------
Site: www.discjam.cn
Author: discjam.cn
Updated: 20141201
Updated by: chenran 
file: main.css 
version: 1.0
--------------------------------- 
*/ 

/* base ------------------------------------------------------------------*/
/*default*/
html,body,input,textarea,select,button,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,br,hr,a,code,em,img,q,small,strong,dd,dl,dt,li,ol,ul,form,label,table,tbody,tr,th,td,menu,pre{margin:0px;padding:0px;border:0;list-style-type:none;font-family:"Microsoft Yahei",Arial;font-size:100%;}
body{ background:#fff;}
table{border-collapse:collapse;border-spacing:0;}
pre{word-break:break-all;word-wrap:break-word;white-space:pre-wrap;}
a,button{text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());}
a:hover,button:hover{text-decoration:none;cursor:pointer;}
img{-ms-interpolation-mode:bicubic;image-rendering:optimizeQuality;}
html::-webkit-scrollbar{width:0;height:0;background:transparent;}

.cd{position:relative;width:100%;}
.cd .bg{position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;}
.cd .bg img{width:100%;height:100%;float:left;}
.cd dl{position:absolute;z-index:2; left:0; top:0;width:100%;}
.cd dt{display:block;width:90%;padding:5%;font-size:100%;line-height:140%;min-height:180px;}
.cd dt h1{font-size:230%;line-height:120%;font-weight:normal;margin-bottom:10%;}
.cd dt h1 b{font-weight:normal;display:block;font-size:35%;line-height:120%;margin-top:5%;color:#666;}
.pg dt p{text-indent:12%;margin-bottom:5%;}
.cd .ot{display:block; width:90%; padding:5%;overflow:hidden; background:#fff;}
.cd .ot p{float:left;width:47%;display:inline-block;font-size:70%;color:#666;white-space:nowrap;}
.mv video{background:url(../images/mv1.jpg) no-repeat;background-size:100% 100%;width:100%;height:180px;margin-bottom:-10px;}
.fl_img img{position:fixed;z-index:2;}
.fl_img .idx_1{left:10.47%;top:14.79%;width:80%;}
.fl_img .idx_2{/*left:3.28%;*/left:100%;top:37.41%;width:52.5%;}
.fl_img .idx_2s{left:3.28%;top:37.41%;width:52.5%;}
.fl_img .idx_3{/*left:61.09%;*/left:100%;top:47.27%;width:45%;}
.fl_img .idx_3s{left:61.09%;top:47.27%;width:45%;}
.fl_img .idx_4{left:44.53%;top:26.14%;width:30.47%;z-index:3;}

.fl_img .lis_1{left:41.72%;top:15.58%;width:9.84%;}
.fl_img .lis_2{left:34.06%;top:16.81%;width:5.47%;}
.fl_img .lis_2_1{left:53.59%;top:16.81%;width:5.47%;}
.fl_img .lis_3{left:-31.88%;top:-4.75%;width:65.94%;}

.fl_img .inf_1{left:34.69%;top:28.7%;width:30.47%;}
.fl_img .inf_2{left:7.03%;top:56.34%;width:70%;}

.a1 .lin_1{left:58.44%;top:-24.56%;width:3.75%;}
.a1 .lin_2{left:66.88%;top:-31.78%;width:3.75%;}
.a1 .lin_3{left:75.94%;top:-37.5%;width:3.75%;}
.a1 .tx_1{left:66.88%;top:27.12%;width:4.38%;}
.a1 .tx_2{left:75.94%;top:21.4%;width:4.06%;}
.a1 .a1_1{left:58.44%;top:34.34%;width:3.75%;}
.a1 .a1_2{left:83.28%;top:20.6%;width:7.66%;}
.a1 .a1_3{left:42.03%;top:58.01%;width:9.06%;}

.a2 .lin_1{left:16.56%;top:-35.13%;width:3.75%;}
.a2 .lin_2{left:25%;top:-42.34%;width:3.75%;}
.a2 .lin_3{left:34.06%;top:-40.67%;width:3.75%;}
.a2 .tx_1{left:25%;top:16.56%;width:4.38%;}
.a2 .tx_2{left:34.06%;top:18.23%;width:4.06%;}
.a2 .a1_1{left:16.56%;top:23.77%;width:3.75%;}
.a2 .a1_2{left:11.56%;top:33.01%;width:13.44%;}
.a2 .a1_3{left:47.81%;top:17.61%;width:12.19%;}
.a2 .a1_4{left:71.72%;top:26.14%;width:15.31%;}

.a3 .lin_1{left:-72.5%;top:16.9%;width:99.22%;}
.a3 .lin_2{left:-85.31%;top:20.69%;width:99.22%;}
.a3 .lin_3{left:-82.34%;top:24.65%;width:99.22%;}
.a3 .tx_1{left:16.91%;top:20.69%;width:15.78%;}
.a3 .tx_2{left:19.88%;top:24.65%;width:28.13%;}
.a3 .a1_1{left:29.72%;top:16.9%;width:9.22%;}
.a3 .a1_2{left:100%;top:8.19%;width:37.66%;}
.a3 .a1_2s{left:7.19%;top:8.19%;width:37.66%;}
.a3 .a1_3{left:100%;top:2.73%;width:52.97%;}
.a3 .a1_3s{left:58.44%;top:2.73%;width:52.97%;}
.a3 .a1_4{left:31.09%;top:46.57%;width:19.22%;}

.a4 .lin_1{left:10.63%;top:-23.95%;width:3.75%;}
.a4 .lin_2{left:19.06%;top:-31.16%;width:3.75%;}
.a4 .lin_3{left:28.13%;top:-29.49%;width:3.75%;}
.a4 .tx_1{left:19.06%;top:27.74%;width:4.38%;}
.a4 .tx_2{left:28.13%;top:29.41%;width:4.06%;}
.a4 .a1_1{left:10.63%;top:34.95%;width:3.91%;}
.a4 .a1_2{left:46.09%;top:36.18%;width:12.97%;}
.a4 .a1_3{left:66.88%;top:26.94%;width:13.28%;}
.a4 .a1_4{right:0;top:0;width:41.72%;}

.a5 .lin_1{left:38.44%;top:-24.83%;width:3.75%;}
.a5 .lin_2{left:46.88%;top:-32.04%;width:3.75%;}
.a5 .lin_3{left:55.94%;top:-30.37%;width:3.75%;}
.a5 .tx_1{left:46.88%;top:26.86%;width:4.38%;}
.a5 .tx_2{left:55.94%;top:28.53%;width:4.06%;}
.a5 .a1_1{left:38.44%;top:34.07%;width:4.06%;}
.a5 .a1_2{left:0;top:0;width:24.06%;}
.a5 .a1_3{left:52.81%;top:36%;width:59.38%;}

.a6 .lin_1{left:-51.56%;top:38.82%;width:99.22%;}
.a6 .lin_2{left:-64.38%;top:42.61%;width:99.22%;}
.a6 .lin_3{left:-61.41%;top:46.57%;width:99.22%;}
.a6 .tx_1{left:37.84%;top:42.61%;width:15.78%;}
.a6 .tx_2{left:40.81%;top:46.57%;width:28.13%;}
.a6 .a1_1{left:50.66%;top:38.82%;width:9.69%;}
.a6 .a1_2{left:-1.72%;top:55.99%;width:14.38%;}
.a6 .a1_3{left:75.94%;top:24.21%;width:18.75%;}
.a6 .a1_4{right:0;top:0;width:54.06%;}

.a7 .lin_1{left:64.06%;top:-33.8%;width:3.75%;}
.a7 .lin_2{left:72.5%;top:-41.02%;width:3.75%;}
.a7 .lin_3{left:81.56%;top:-39.35%;width:3.75%;}
.a7 .tx_1{left:72.5%;top:17.88%;width:4.38%;}
.a7 .tx_2{left:81.56%;top:19.55%;width:4.06%;}
.a7 .a1_1{left:64.06%;top:25.1%;width:3.75%;}
.a7 .a1_2{/*left:6.25%;*/right:100%;top:72.25%;width:14.84%;}
.a7 .a1_3{/*left:79.69%;*/left:100%;top:71.25%;width:18.13%;}
.a7 .a1_4{/*left:85.31%;*/left:100%;top:8.63%;width:19.53%;}
.a7 .a1_5{left:0;top:0;width:34.84%;}

.a8 .lin_1{right:-56.09%;top:39.08%;width:99.22%;}
.a8 .lin_2{right:-68.91%;top:42.87%;width:99.22%;}
.a8 .lin_3{right:-65.94%;top:46.83%;width:99.22%;}
.a8 .tx_1{right:33.31%;top:42.87%;width:15.78%;}
.a8 .tx_2{right:36.28%;top:46.83%;width:28.13%;}
.a8 .a1_1{right:46.13%;top:39.08%;width:9.53%;}
.a8 .a1_2{left:1.72%;top:2.11%;width:32.03%;}
.a8 .a1_3{left:42.81%;top:24.56%;width:18.75%;}

.a9 .lin_1{left:8.75%;top:-27.11%;width:3.75%;}
.a9 .lin_2{left:17.19%;top:-34.33%;width:3.75%;}
.a9 .lin_3{left:26.25%;top:-32.66%;width:3.75%;}
.a9 .tx_1{left:17.19%;top:24.57%;width:4.38%;}
.a9 .tx_2{left:26.25%;top:26.24%;width:4.06%;}
.a9 .a1_1{left:8.75%;top:31.79%;width:3.75%;}
.a9 .a1_2{left:100%;top:5.81%;width:66.09%;}
.a9 .a1_2s{left:5.63%;top:5.81%;width:66.09%;}
.a9 .a1_3{left:100%;top:25.62%;width:46.09%;}
.a9 .a1_3s{left:64.53%;top:25.62%;width:46.09%;}

.a10 .lin_1{left:-42.19%;top:13.29%;width:99.22%;}
.a10 .lin_2{left:-55%;top:17.08%;width:99.22%;}
.a10 .lin_3{left:-52.03%;top:21.04%;width:99.22%;}
.a10 .tx_1{left:47.22%;top:17.08%;width:15.78%;}
.a10 .tx_2{left:50.19%;top:21.04%;width:28.13%;}
.a10 .a1_1{left:60.03%;top:13.29%;width:9.53%;}
.a10 .a1_2{/*left:10.78%;*/right:100%;top:24.82%;width:15.94%;}
.a10 .a1_3{/*left:69.06%;*/left:100%;top:4.67%;width:25.63%;}

.a11 .lin_1{left:12.81%;top:-15.41%;width:3.75%;}
.a11 .lin_2{left:21.25%;top:-22.63%;width:3.75%;}
.a11 .lin_3{left:30.31%;top:-20.95%;width:3.75%;}
.a11 .tx_1{left:21.25%;top:36.27%;width:4.38%;}
.a11 .tx_2{left:30.31%;top:37.95%;width:4.06%;}
.a11 .a1_1{left:12.81%;top:43.49%;width:3.59%;}
.a11 .a1_2{left:100%;top:22.36%;width:54.53%;}
.a11 .a1_2s{left:6.72%;top:22.36%;width:54.53%;}
.a11 .a1_3{left:100%;top:8.19%;width:43.75%;}
.a11 .a1_3s{left:52.5%;top:8.19%;width:43.75%;}

.a12 .lin_1{right:-66.72%;top:52.73%;width:99.22%;}
.a12 .lin_2{right:-79.53%;top:56.51%;width:99.22%;}
.a12 .lin_3{right:-76.56%;top:60.48%;width:99.22%;}
.a12 .tx_1{right:22.69%;top:56.51%;width:15.78%;}
.a12 .tx_2{right:25.66%;top:60.48%;width:28.13%;}
.a12 .a1_1{right:35.5%;top:52.73%;width:9.38%;}
.a12 .a1_2{left:100%;top:40.67%;width:54.53%;}
.a12 .a1_2s{left:3.75%;top:40.67%;width:54.53%;}
.a12 .a1_3{left:100%;top:11.97%;width:83.13%;}
.a12 .a1_3s{left:13.59%;top:11.97%;width:83.13%;}

/* index */
.flash .idx_1{
animation:idx_1 3s ease;
-webkit-animation:idx_1 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes idx_1{
0% {transform:scale(0,0) translateY(-150%);opacity:0;}
100% {transform:scale(1,1) translateY(0);opacity:1;}
}
@-webkit-keyframes idx_1{
0% {-webkit-transform:scale(0,0) translateY(-150%);opacity:0;}
100% {-webkit-transform:scale(1,1) translateY(0);opacity:1;}
}

.flash .idx_2{
animation:idx_2 35s 10s infinite linear;
-webkit-animation:idx_2 35s 10s infinite linear;
}
@keyframes idx_2{
0% {transform:translateX(0);}
100% {transform:translateX(-300%);}
}
@-webkit-keyframes idx_2{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-300%);}
}

.flash .idx_2s{
animation:idx_2s 10s linear;
-webkit-animation:idx_2s 10s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes idx_2s{
0% {transform:translateX(0);}
100% {transform:translateX(-150%);}
}
@-webkit-keyframes idx_2s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-150%);}
}

.flash .idx_3{
animation:idx_3 65s 20s infinite linear;
-webkit-animation:idx_3 65s 20s infinite linear;
}
@keyframes idx_3{
0% {transform:translateX(0);}
100% {transform:translateX(-320%);}
}
@-webkit-keyframes idx_3{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-320%);}
}

.flash .idx_3s{
animation:idx_3s 20s linear;
-webkit-animation:idx_3s 20s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes idx_3s{
0% {transform:translateX(0);}
100% {transform:translateX(-250%);}
}
@-webkit-keyframes idx_3s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-250%);}
}

.flash .idx_4{
animation:idx_4 3s 3s ease;
-webkit-animation:idx_4 3s 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes idx_4{
0% {transform:translateY(100%);opacity:0;}
100% {transform:translateY(0);opacity:1;}
}
@-webkit-keyframes idx_4{
0% {-webkit-transform:translateY(100%);opacity:0;}
100% {-webkit-transform:translateY(0);opacity:1;}
}


/* list */
.flash .lis_1{
animation:lis_1 3s ease;
-webkit-animation:lis_1 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes lis_1{
0% {opacity:0;}
100% {opacity:1;}
}
@-webkit-keyframes lis_1{
0% {opacity:0;}
100% {opacity:1;}
}

.flash .lis_2{
animation:lis_2 2s 1s ease;
-webkit-animation:lis_2 2s 1s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes lis_2{
0% {transform:translateX(200%);opacity:0;}
100% {transform:translateX(0);opacity:1;}
}
@-webkit-keyframes lis_2{
0% {-webkit-transform:translateX(200%);opacity:0;}
100% {-webkit-transform:translateX(0);opacity:1;}
}

.flash .lis_2_1{
animation:lis_2_1 2s 1s ease;
-webkit-animation:lis_2_1 2s 1s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes lis_2_1{
0% {transform:translateX(-200%);opacity:0;}
100% {transform:translateX(0);opacity:1;}
}
@-webkit-keyframes lis_2_1{
0% {-webkit-transform:translateX(-200%);opacity:0;}
100% {-webkit-transform:translateX(0);opacity:1;}
}

.flash .lis_3{
animation:lis_3 3s ease;
-webkit-animation:lis_3 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes lis_3{
0% {transform:translateX(-100%) translateY(-100%);}
100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes lis_3{
0% {-webkit-transform:translateX(-100%) translateY(-100%);}
100% {-webkit-transform:translateX(0) translateY(0);}
}

/* info */
.flash .inf_1{
animation:inf_1 3s ease;
-webkit-animation:inf_1 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes inf_1{
0% {transform:scale(0,0) translateY(-1000%);opacity:0;}
100% {transform:scale(1,1) translateY(0);opacity:1;}
}
@-webkit-keyframes inf_1{
0% {-webkit-transform:scale(0,0) translateY(-1000%);opacity:0;}
100% {-webkit-transform:scale(1,1) translateY(0);opacity:1;}
}

.flash .inf_2{
animation:inf_2 3s 1s ease;
-webkit-animation:inf_2 3s 1s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes inf_2{
0% {transform:translateX(100%);opacity:0;}
100% {transform:translateX(0);opacity:1;}
}
@-webkit-keyframes inf_2{
0% {-webkit-transform:translateX(100%);opacity:0;}
100% {-webkit-transform:translateX(0);opacity:1;}
}


/* page */
.flash .lin_1{
animation:lin_1 2s linear;
-webkit-animation:lin_1 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes lin_1{
0% {transform:translateY(-100%);}
80% {transform:translateY(10%);}
90% {transform:translateY(-10%);}
100% {transform:translateY(0);}
}
@-webkit-keyframes lin_1{
0% {-webkit-transform:translateY(-100%);}
50% {-webkit-transform:translateY(2%);}
75% {-webkit-transform:translateY(-1%);}
100% {-webkit-transform:translateY(0);}
}
.flash .lin_2{
animation:lin_1 2.2s linear;
-webkit-animation:lin_1 2.2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
.flash .lin_3{
animation:lin_1 2.4s linear;
-webkit-animation:lin_1 2.4s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}

.flash .a1_1,.flash .tx_1,.flash .tx_2{
animation:tx_fl 3s 2s linear;
-webkit-animation:tx_fl 3s 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes tx_fl{
0% {transform:scale(0,0) translateY(-200%);opacity:0;}
100% {transform:scale(1,1) translateY(0);opacity:1;}
}
@-webkit-keyframes tx_fl{
0% {-webkit-transform:scale(0,0) translateY(-200%);opacity:0;}
100% {-webkit-transform:scale(1,1) translateY(0);opacity:1;}
}

.flash .a1_2{
animation:a1_2 10s linear infinite alternate;
-webkit-animation:a1_2 10s linear infinite alternate;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a1_2{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
100% {transform:translateY(300%) translateX(-150%) rotate(100deg);}
}
@-webkit-keyframes a1_2{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
100% {-webkit-transform:translateY(300%) translateX(-150%) rotate(100deg);}
}

.flash .a1_3{
animation:a1_3 15s linear infinite alternate;
-webkit-animation:a1_3 15s linear infinite alternate;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a1_3{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
100% {transform:translateY(300%) translateX(-150%) rotate(100deg);}
}
@-webkit-keyframes a1_3{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
100% {-webkit-transform:translateY(300%) translateX(-150%) rotate(100deg);}
}

.flash .a1_4{
animation:a1_4 20s linear infinite alternate;
-webkit-animation:a1_4 20s linear infinite alternate;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a1_4{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
100% {transform:translateY(300%) translateX(-150%) rotate(100deg);}
}
@-webkit-keyframes a1_4{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
100% {-webkit-transform:translateY(300%) translateX(-150%) rotate(100deg);}
}

.flash.a3 .lin_1,.flash.a6 .lin_1,.flash.a10 .lin_1{
animation:lin_3 2s linear;
-webkit-animation:lin_3 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes lin_3{
0% {transform:translateX(-50%);}
80% {transform:translateX(10%);}
90% {transform:translateX(-10%);}
100% {transform:translateX(0);}
}
@-webkit-keyframes lin_3{
0% {-webkit-transform:translateX(-50%);}
50% {-webkit-transform:translateX(2%);}
75% {-webkit-transform:translateX(-1%);}
100% {-webkit-transform:translateX(0);}
}
.flash.a3 .lin_2,.flash.a6 .lin_2,.flash.a10 .lin_2{
animation:lin_3 2.2s linear;
-webkit-animation:lin_3 2.2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
.flash.a3 .lin_3,.flash.a6 .lin_3,.flash.a10 .lin_3{
animation:lin_3 2.4s linear;
-webkit-animation:lin_3 2.4s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}

.flash.a3 .a1_1,.flash.a3 .tx_1,.flash.a3 .tx_2,.flash.a6 .a1_1,.flash.a6 .tx_1,.flash.a6 .tx_2,.flash.a10 .a1_1,.flash.a10 .tx_1,.flash.a10 .tx_2{
animation:tx_fls 3s 2s linear;
-webkit-animation:tx_fls 3s 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes tx_fls{
0% {transform:scale(0,0) translateX(-200%);opacity:0;}
100% {transform:scale(1,1) translateX(0);opacity:1;}
}
@-webkit-keyframes tx_fls{
0% {-webkit-transform:scale(0,0) translateX(-200%);opacity:0;}
100% {-webkit-transform:scale(1,1) translateX(0);opacity:1;}
}

.flash.a3 .a1_2,.flash.a11 .a1_2,.flash.a12 .a1_2{
animation:a3_2 35s 10s infinite linear;
-webkit-animation:a3_2 35s 10s infinite linear;
}
@keyframes a3_2{
0% {transform:translateX(0);}
100% {transform:translateX(-300%);}
}
@-webkit-keyframes a3_2{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-300%);}
}

.flash.a3 .a1_2s,.flash.a11 .a1_2s{
animation:a3_2s 10s linear;
-webkit-animation:a3_2s 10s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a3_2s{
0% {transform:translateX(0);}
100% {transform:translateX(-150%);}
}
@-webkit-keyframes a3_2s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-150%);}
}

.flash.a3 .a1_3,.flash.a11 .a1_3,.flash.a12 .a1_3{
animation:a3_3 65s 20s infinite linear;
-webkit-animation:a3_3 65s 20s infinite linear;
}
@keyframes a3_3{
0% {transform:translateX(0);}
100% {transform:translateX(-320%);}
}
@-webkit-keyframes a3_3{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-320%);}
}

.flash.a3 .a1_3s,.flash.a11 .a1_3s{
animation:a3_3s 20s linear;
-webkit-animation:a3_3s 20s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a3_3s{
0% {transform:translateX(0);}
100% {transform:translateX(-250%);}
}
@-webkit-keyframes a3_3s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-250%);}
}

.flash.a3 .a1_4{
animation:a3_4 35s linear infinite;
-webkit-animation:a3_4 35s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a3_4{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
49% {transform:translateY(100%) translateX(-300%) rotate(45deg);}
50% {transform:translateY(100%) translateX(-300%) rotate(180deg);}
90% {transform:translateY(0) translateX(0) rotate(135deg);}
100% {transform:translateY(0) translateX(0) rotate(0deg);}
}
@-webkit-keyframes a3_4{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
49% {-webkit-transform:translateY(100%) translateX(-300%) rotate(45deg);}
50% {-webkit-transform:translateY(100%) translateX(-300%) rotate(180deg);}
90% {-webkit-transform:translateY(0) translateX(0) rotate(135deg);}
100% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
}

.flash.a4 .a1_4{
animation:a4_4 3s ease;
-webkit-animation:a4_4 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a4_4{
0% {transform:translateX(100%) translateY(-100%);}
100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes a4_4{
0% {-webkit-transform:translateX(100%) translateY(-100%);}
100% {-webkit-transform:translateX(0) translateY(0);}
}

.flash.a5 .a1_2{
animation:a5_2 3s ease;
-webkit-animation:a5_2 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a5_2{
0% {transform:translateX(-100%) translateY(-100%);}
100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes a5_2{
0% {-webkit-transform:translateX(-100%) translateY(-100%);}
100% {-webkit-transform:translateX(0) translateY(0);}
}

.flash.a5 .a1_3{
animation:a5_3 15s linear infinite alternate;
-webkit-animation:a5_3 15s linear infinite alternate;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a5_3{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
100% {transform:translateY(100%) translateX(-150%) rotate(100deg);}
}
@-webkit-keyframes a5_3{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
100% {-webkit-transform:translateY(100%) translateX(-150%) rotate(100deg);}
}

.flash.a6 .a1_4{
animation:a6_4 3s ease;
-webkit-animation:a6_4 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a6_4{
0% {transform:translateX(100%) translateY(-100%);}
100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes a6_4{
0% {-webkit-transform:translateX(100%) translateY(-100%);}
100% {-webkit-transform:translateX(0) translateY(0);}
}

.flash.a6 .a1_2{
animation:a6_2 10s linear infinite alternate;
-webkit-animation:a6_2 10s linear infinite alternate;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a6_2{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
100% {transform:translateY(-100%) translateX(200%) rotate(100deg);}
}
@-webkit-keyframes a6_2{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
100% {-webkit-transform:translateY(-100%) translateX(200%) rotate(100deg);}
}

.flash.a7 .a1_5{
animation:a7_5 3s ease;
-webkit-animation:a7_5 3s ease;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a7_5{
0% {transform:translateX(-100%) translateY(-100%);}
100% {transform:translateX(0) translateY(0);}
}
@-webkit-keyframes a7_5{
0% {-webkit-transform:translateX(-100%) translateY(-100%);}
100% {-webkit-transform:translateX(0) translateY(0);}
}

.flash.a7 .a1_2{
animation:a7_2 35s linear infinite;
-webkit-animation:a7_2 35s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a7_2{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
50% {transform:translateY(50%) translateX(400%) rotate(10deg);}
100% {transform:translateY(0) translateX(800%) rotate(0deg);}
}
@-webkit-keyframes a7_2{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
50% {-webkit-transform:translateY(50%) translateX(400%) rotate(10deg);}
100% {-webkit-transform:translateY(0) translateX(800%) rotate(0deg);}
}

.flash.a7 .a1_3{
animation:a7_3 40s linear infinite;
-webkit-animation:a7_3 40s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a7_3{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
50% {transform:translateY(50%) translateX(-400%) rotate(10deg);}
100% {transform:translateY(0) translateX(-800%) rotate(0deg);}
}
@-webkit-keyframes a7_3{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
50% {-webkit-transform:translateY(50%) translateX(-400%) rotate(10deg);}
100% {-webkit-transform:translateY(0) translateX(-800%) rotate(0deg);}
}

.flash.a7 .a1_4{
animation:a7_4 55s linear infinite;
-webkit-animation:a7_4 55s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a7_4{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
50% {transform:translateY(50%) translateX(-400%) rotate(10deg);}
100% {transform:translateY(0) translateX(-800%) rotate(0deg);}
}
@-webkit-keyframes a7_4{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
50% {-webkit-transform:translateY(50%) translateX(-400%) rotate(10deg);}
100% {-webkit-transform:translateY(0) translateX(-800%) rotate(0deg);}
}

.flash.a8 .lin_1,.flash.a12 .lin_1{
animation:lin_8 2s linear;
-webkit-animation:lin_8 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes lin_8{
0% {transform:translateX(50%);}
80% {transform:translateX(-10%);}
90% {transform:translateX(10%);}
100% {transform:translateX(0);}
}
@-webkit-keyframes lin_8{
0% {-webkit-transform:translateX(50%);}
50% {-webkit-transform:translateX(-2%);}
75% {-webkit-transform:translateX(1%);}
100% {-webkit-transform:translateX(0);}
}
.flash.a8 .lin_2,.flash.a12 .lin_2{
animation:lin_8 2.2s linear;
-webkit-animation:lin_8 2.2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
.flash.a8 .lin_3,.flash.a12 .lin_3{
animation:lin_8 2.4s linear;
-webkit-animation:lin_8 2.4s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}

.flash.a8 .a1_1,.flash.a8 .tx_1,.flash.a8 .tx_2,.flash.a12 .a1_1,.flash.a12 .tx_1,.flash.a12 .tx_2{
animation:tx_flss 3s 2s linear;
-webkit-animation:tx_flss 3s 2s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
opacity:0;
}
@keyframes tx_flss{
0% {transform:scale(0,0) translateX(200%);opacity:0;}
100% {transform:scale(1,1) translateX(0);opacity:1;}
}
@-webkit-keyframes tx_flss{
0% {-webkit-transform:scale(0,0) translateX(200%);opacity:0;}
100% {-webkit-transform:scale(1,1) translateX(0);opacity:1;}
}

.flash.a8 .a1_2{
animation:a8_2 10s linear infinite;
-webkit-animation:a8_2 10s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a8_2{
0% {transform:rotate(0deg);}
100% {transform:rotate(100deg);}
}
@-webkit-keyframes a8_2{
0% {-webkit-transform:rotate(0deg);}
100% {-webkit-transform:rotate(100deg);}
}

.flash.a8 .a1_3{
animation:a8_3 15s linear infinite;
-webkit-animation:a8_3 15s linear infinite;
}
@keyframes a8_3{
0% {transform:translateY(100%) translateX(0) rotate(0deg) scale(0,0);}
30% {transform:translateY(0) translateX(0) rotate(0deg) scale(1,1);}
90% {transform:translateY(250%) translateX(100%) rotate(100deg) scale(1,1);opacity:1;}
100% {transform:translateY(300%) translateX(150%) rotate(100deg) scale(1,1);opacity:0;}
}
@-webkit-keyframes a8_3{
0% {-webkit-transform:translateY(100%) translateX(0) rotate(0deg) scale(0,0);}
30% {-webkit-transform:translateY(0) translateX(0) rotate(0deg) scale(1,1);}
90% {-webkit-transform:translateY(250%) translateX(100%) rotate(100deg) scale(1,1);opacity:1;}
100% {-webkit-transform:translateY(300%) translateX(150%) rotate(100deg) scale(1,1);opacity:0;}
}

.flash.a9 .a1_2{
animation:a9_2 35s 10s infinite linear;
-webkit-animation:a9_2 35s 10s infinite linear;
}
@keyframes a9_2{
0% {transform:translateX(0);}
100% {transform:translateX(-300%);}
}
@-webkit-keyframes a9_2{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-300%);}
}

.flash.a9 .a1_2s{
animation:a9_2s 10s linear;
-webkit-animation:a9_2s 10s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a9_2s{
0% {transform:translateX(0);}
100% {transform:translateX(-150%);}
}
@-webkit-keyframes a9_2s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-150%);}
}

.flash.a9 .a1_3{
animation:a9_3 65s 20s infinite linear;
-webkit-animation:a9_3 65s 20s infinite linear;
}
@keyframes a9_3{
0% {transform:translateX(0);}
100% {transform:translateX(-320%);}
}
@-webkit-keyframes a9_3{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-320%);}
}

.flash.a9 .a1_3s{
animation:a9_3s 20s linear;
-webkit-animation:a9_3s 20s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a9_3s{
0% {transform:translateX(0);}
100% {transform:translateX(-250%);}
}
@-webkit-keyframes a9_3s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-250%);}
}

.flash.a10 .a1_2{
animation:a10_2 35s linear infinite;
-webkit-animation:a10_2 35s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a10_2{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
50% {transform:translateY(50%) translateX(350%) rotate(10deg);}
100% {transform:translateY(0) translateX(700%) rotate(0deg);}
}
@-webkit-keyframes a10_2{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
50% {-webkit-transform:translateY(50%) translateX(350%) rotate(10deg);}
100% {-webkit-transform:translateY(0) translateX(700%) rotate(0deg);}
}

.flash.a10 .a1_3{
animation:a10_3 40s linear infinite;
-webkit-animation:a10_3 40s linear infinite;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a10_3{
0% {transform:translateY(0) translateX(0) rotate(0deg);}
50% {transform:translateY(50%) translateX(-250%) rotate(10deg);}
100% {transform:translateY(0) translateX(-500%) rotate(0deg);}
}
@-webkit-keyframes a10_3{
0% {-webkit-transform:translateY(0) translateX(0) rotate(0deg);}
50% {-webkit-transform:translateY(50%) translateX(-250%) rotate(10deg);}
100% {-webkit-transform:translateY(0) translateX(-500%) rotate(0deg);}
}




.flash.a12 .a1_2s{
animation:a3_2s 15s linear;
-webkit-animation:a3_2s 15s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a3_2s{
0% {transform:translateX(0);}
100% {transform:translateX(-150%);}
}
@-webkit-keyframes a3_2s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-150%);}
}

.flash.a12 .a1_3s{
animation:a3_3s 35s linear;
-webkit-animation:a3_3s 35s linear;
animation-fill-mode:forwards;
-webkit-animation-fill-mode:forwards;
}
@keyframes a3_3s{
0% {transform:translateX(0);}
100% {transform:translateX(-150%);}
}
@-webkit-keyframes a3_3s{
0% {-webkit-transform:translateX(0);}
100% {-webkit-transform:translateX(-150%);}
}

